.authFormBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-top: 28px;
    align-self: start;
    width: 50%;
    font-size: 13px;
}

.authFormBlock p {
    color: #d4d2d2;
    text-align: center;
    padding: 10px 0 20px 0;
}

.authFormBlock label {
    font-weight: bold;
}

.authFormBlock h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.fastLoginBlock {
    display: flex;
    justify-content: space-between;
}

.fastLoginBlock button {
    border-radius: 8px;
    border: 1px solid #d4d2d2;
    background-color: white;
    padding: 12px 8px;
    width: 150px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: coral;
    font-weight: bold;
}

.authForm form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.authForm input {
    margin-top: 3px;
    border: 1px solid #d4d2d2;
    border-radius: 8px;
    padding: 11px 16px;
    background-color: white;
}

.authForm button {
    width: 100%;
    background-color: coral;
    color: white;
    padding: 11px 16px;
    border-radius: 8px;
}

.signUp {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.signUp p {
    color: black;
    font-size: 16px;
}
.email {
    margin-left: 30px;
}
.name {
    margin-left: 30px;
}
.surname {
    margin-left: 12px;
}
.password {
    margin-left: 19px;
}
