.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumseagreen;
    color: white;
    font-size: 25px;
}
.hr {
    height: 5px;
    background-color: white;
}
.outlet {
    background-color: coral;
    padding-top: 50px;
}
.accordion-header {
    background-color: white;
}
